body{
    background-image: url(https://bit.ly/31QGhrZ);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}
*{
    padding: 0px;
    margin: 0px;
}
#form{
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
#date, #month, #year{
    width: 100%;
    padding: 12px 6px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
  }

#label{
    margin-right: 26px;
    margin-left: 26px;
    text-align: center;
}
.jumbotron{
    color:#fcba03 ;
}


